<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="strConnection" value="Data Source=serv-tintoreria.database.windows.net,1433;Initial Catalog=dbTintoreria; user=admintintoreria; password=Tintoreri4; Timeout=0;" />
    <!--<add key="strConnection" value="Data Source=50.97.128.140;Initial Catalog=creativ1_kymoweb; USER=creativ1_kymoweb; PASSWORD=Kym0web@1; Timeout=0;" />-->
    <!-- <add key="strConnection" value="Data Source=192.168.1.150;Initial Catalog=dbkymo; USER=leyder; PASSWORD=12345678; Timeout=0;"  />-->
    
    <add key="strBanMac" value="true" />
    <add key="strMac" value="68:14:01:BC:DB:A3" /> <!--68:14:01:BC:DB:A3-->
    <add key="strBanHostName" value="false" />
    <add key="strHostName" value="" />
    <!-- Ftp Web -->
    
    <add key="ServerFtpTxt2" value="ftp://50.97.128.139/admin.kymo.mx/wwwroot/Resources" />
    <add key="UsuarioFtpTxt2" value="kymomx_websitecsl" />
    <add key="ContraseñaFtpTxt2" value="KPr6nva21lixeouqZ0dLsOyzcFfkpwbj7tC3gh5m" />
    
   
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>